<div class="form">
    <form [formGroup]='rentalRegistrationForm' (ngSubmit)="submitRental()" novalidate>

        <div class="form-group">
            <label>Client</label>
            <select class="form-control" formControlName="clientId" required>
                <option value="">Please select a client </option>
                <option *ngFor="let client of clients" [value]="client.id">
                    {{client.name+' '+client.surname}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Car</label>
            <select class="form-control" formControlName="carId" required>
                <option value="">Please select a car </option>
                <option *ngFor="let car of cars" [value]="car.id">
                    {{car.brand+' '+car.model}}
                </option>
            </select>
        </div>
        <!-- <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" formControlName="status" required autofocus />
        </div> -->
        <div class="input-group ">
            <input class="form-control" placeholder="dd-mm-yyyy" id="pbtd" name="selectTime"
                formControlName="pickUpDate" ngbDatepicker #d="ngbDatepicker" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i></button>
            </div>
        </div>

        <div class="input-group ">
            <input class="form-control" placeholder="dd-mm-yyyy" id="pbtd2" name="selectTime2"
                formControlName="dropOffDate" ngbDatepicker #t="ngbDatepicker" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="t.toggle()" type="button">
                    <i class="fa fa-calendar"></i></button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>