.separator-type,
.title-type,
.intro-type,
.content-type .intro-type p {
    position: relative;
}

.intro-type .container {
    padding: 107px 0px 102px 0px !important;
}

#product-header-section,
.intro-type .container {
    padding: 68px 15px 72px !important;
}

.parallax {
    background-attachment: inherit !important;
}

.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}

.company-heading h3 {
    margin-bottom: 40px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}

.seo-header,
.product-header,
.intro-type .container h3.white,
.company-heading h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
}

.company-sections h2,
.careers-sections h2,
.perks-section h2 {
    font-weight: 800;
    font-size: 50px;
}

.company-sections h2,
.company-sections h3,
.careers-sections h2,
.perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}

.company-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}

.red-border {
    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}

.company-sections p {
    margin-top: 20px;
}

.ct-u-size22 {
    font-size: 22px;
}

.ct-u-fontWeight300 {
    font-weight: 300;
}

.marginTop40 {
    margin-top: 40px !important;
}

.ct-u-paddingBoth100 {
    padding: 100px 15px;
}

.culture-section {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://www.solodev.com/assets/culture.jpg) top no-repeat;
    /* background-color: #095c87; */
    /* color: #fff; */
}

.company-sections,
.careers-sections,
.left-headquarter-section-img,
.right-headquarter-section-img {
    text-align: center;
}

.ct-u-paddingBoth100 {
    padding: 20px 15px;
}

.company-sections h2,
.careers-sections h2,
.perks-section h2 {
    font-weight: 800;
    font-size: 50px;
}

.company-sections h2,
.company-sections h3,
.careers-sections h2,
.perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}

.slick-slider {
    margin-bottom: 0;
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slider .item {
    overflow: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.fa {
    font-size: 42px;
}

.btn-solodev-red-reversed {
    background-color: #fff;
    color: #d2282e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px 35px;
}

.btn,
.btn-blk {
    font-size: 18px !Important;
}

a:hover,
a:focus {
    text-decoration: none;
}

.ct-u-size19 {
    margin-top: 40px;
}

a:hover {
    color: #000;
}

section.clients-home .clients-logos .client-logos-repeater {
    height: 260px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

section.clients-home .clients-logos .client-logos-repeater img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.ct-u-paddingBottom100 {
    margin-top: 10px;
}

.culture-section {
    background-size: cover;
    color: #fff;
}