<div class="ct-pageWrapper" id="ct-js-wrapper">

    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
        <div class="container text-center">
            <h2>Our history</h2>
            <!-- <h3>Why renting from us ?</h3> -->
            <div class="col-md-8 col-md-offset-2">
                <div class="red-border"></div>
                <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">We are Java Car Rental the most trusted name in
                    vehicle rentals. Founded in 1982, Java Car Rental is Romania's most distinguished rent-a-car
                    company. We provide customers with a large number of vehicles throughout the country.
                </p>

            </div>
        </div>
    </section>
    <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Why renting from us</h2>

                    <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60"> As we are not affiliated with any
                        specific automaker, we are able to provide a variety of vehicle makes and models for customers
                        to rent.</p>
                </div>
            </div>
            <div class="row ct-u-paddingBoth20">
                <div class="col-xs-6 col-md-4">
                    <div class="company-icons-white">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <p>OUR PHILOSOPHY</p>
                        <p class="company-icons-subtext hidden-xs">Rather than let vehicles age, we also replace our
                            most popular passenger vehicles every few years.</p>
                    </div>

                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="company-icons-white">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>PARTNERSHIPS</p>
                        <p class="company-icons-subtext hidden-xs">We accept reservations through International
                            holdings. In such ways, we have been building strong relationship.</p>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="company-icons-white">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p>CONTACT US</p>
                        <p>JAVA RENTAL COMPANY ™ Email: JavaRental@Gmail.com Tel: +40722222222; +4021JAVA Address: 82
                            Java
                            street,
                            Bucharest, District 1 </p>
                        <!-- <p >EMAIL: Java@Gmail.com</p>
                        <p class="company-icons-subtext hidden-xs">TEL: +40722 22 22 22</p>
                        <p class="company-icons-subtext hidden-xs">ADDRESS: 82 Java street, Bucharest, District 1 </p> -->

                    </div>
                    <!-- <div class="company-icons-white">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p>CULTURE OF RENEWAL</p>
                        <p class="company-icons-subtext hidden-xs">Replacing used vehicles eliminates uncomfortable wear and tear, and reduces the risk of breakdown and other inconveniences</p>
                    </div> -->
                </div>
            </div>

        </div>
    </section>


</div>