<div class="car">
    <div class="carbody"></div>
    <div class="weel weel1"></div>
    <div class="weel weel2"></div>
</div>

<head>
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h2 class="footer">
        <b> JAVA Car Rental ™ </b>
        <p>Email: JavaRental@Gmail.com Tel: +40722222222; +4021JAVA</p>
        <p></p>
    </h2>

</body>