img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.car-card {
    width: 280px;
    height: 180px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 20px 20px 0;
    background: #bcbe44;
    .car-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 7px;
    }
    .car-brand {
        font-weight: bold;
        font-size: 24px;
    }
    
    .car-footer{
        margin-left: 8px;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        
    }
    
}
button{
    font-size: 16px;
    border-color: black;
    border-radius: 8px;
    display:inline-block;
    margin-right: 10px;
}