<div class="car-card">
    <div class="car-content">

        <!-- <div>
            <img class="car-picture" [src]="car.picture">
        </div> -->

        <div class="car-list">
            <div class="car-brand">{{ car.brand }}</div>
            <div class="car-model">{{ car.model }}</div>
            <div>
                <button (click)="onEdit.emit(this.car)">Edit</button>
                <button (click)="onDelete.emit(car.id)">Delete</button>
            </div>
        </div>
    </div>

    <div class="car-footer">
        <div class="car-mileage">Mileage: {{ car.mileage }} Km</div>
        <div class="car-amount">Price / day :{{ car.amount }} €</div>
    </div>
</div>