<div class="title" style="text-align:center">
    <h2>
        Java Car Rental - All the clients
    </h2>
    <br>
</div>
<br>
<div class="container">
    <table class="table table-striped table-bordered
     table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.surname}}</td>
                <td>{{client.name}}</td>
                <button class="button" (click)="deleteClient(client.id)">Delete</button>
                <button class="button" (click)="goToEdit(client.id)">Edit</button>
            </tr>
        </tbody>
    </table>
</div>