<div class="title" style="text-align:center">
    <h2>
        List of all rentals
    </h2>
    <br>
</div>


<br>

<div class="container">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <!-- <th>Car</th> -->
                <!-- <th>Client</th> -->
                <th>Pick-up Date</th>
                <th>Drop-off Date</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rental of rentals">
                <td>{{rental.id}}</td>

                <!-- <td>{{getCar(rental.car.id)}}</td> -->
                <td>{{rental.pickUpDate}}</td>
                <td>{{rental.dropOffDate}}</td>

            </tr>
        </tbody>
    </table>
</div>