<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"><img src="assets/pictures/car.png" width="100" height="50"></a>
    </mdb-navbar-brand>

    <!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" width="40" height="40"
                class="d-inline-block align-top" alt=""> SDA Clinic</a> -->

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <!-- <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/cars">Cars</a>
            </li> -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
                    Cars<span class="caret"></span></a>

                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="car/registration">Add a new car</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/cars">View all cars</a>
                </div>
                <!-- <a class="nav-link waves-light" mdbWavesEffect href="/clients">Clients</a> -->
            </li>

            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
                    Clients<span class="caret"></span></a>

                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="client/registration">Add a new client</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/clients">See all clients</a>
                </div>
                <!-- <a class="nav-link waves-light" mdbWavesEffect href="/clients">Clients</a> -->
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
                    Rentals<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="rental/adding">Rent a new car</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="cars">See available cars</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="/rentals">See all the rentals</a>

                </div>
            </li>

            <div class="container">
                <li class="nav-item ">
                    <a class="nav-link waves-light" mdbWavesEffect href="/about">About Us<span
                            class="sr-only">(current)</span></a>
                </li>
            </div>
        </ul>

    </links>

</mdb-navbar>


<router-outlet></router-outlet>