html {
    height: 100%;
    background-image: url('/assets/pictures/background3.jpg');
}

.navbar {
    background-color: #bcbe44;
    // justify-content: center;
}

.container {
    flex-direction: row;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    text-rendering: optimizeLegibility;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Courier New', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    /* background: linear-gradient(150deg,#D5E3F1 15%,#FFFBD9 70%,#FFDFCB 94%); */
    background: #e5fda1;
    
}

h1 {
    font-size: 2.0em;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: 800;
    font-size: 50px;
    font-family: 'proxima-nova', sans-serif;
}

.table-bordered,
.table-bordered td,
.table-bordered th {
    border: 1px solid #5153d1;
}