<!-- <div class="title" style="text-align:center">
    <h2>
        Java Car Rental - All the cars
    </h2>

    <br>
</div>


<br>

<div class="container">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr align="center">
                <th>Brand</th>
                <th>Model</th>
                <th>Mileage</th>
                <th>Amount / day</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr align="center" *ngFor="let car of cars">
                <td>{{car.brand}}</td>
                <td>{{car.model}}</td>
                <td>{{car.mileage}} km</td>
                <td>{{car.amount}} €</td>
                <button class="button" (click)="deleteCar(car.id)">Delete</button>
                <button class="button" (click)="goToEdit(car.id)">Edit</button>



            </tr>
        </tbody>
    </table>
</div> -->

<h2>
    Java Car Rental - All the cars

</h2>
<div class="car-list">
    <app-car-card *ngFor="let c of cars" [car]="c" (onEdit)="goToEdit($event)" (onDelete)="deleteCar($event)">
    </app-car-card>

</div>