.button{
    font-size: 16px;
    border-color: black;
    border-radius: 8px;
    display:inline-block;
    margin-right: 10px;
}

.button:hover {background: #bad66e;}

h2{
    padding: auto;
    margin: 10px;
    margin-bottom: 30px;
}

