<div class="form">
    <form [formGroup]='carRegistrationForm' (ngSubmit)="submitCarRegistration()" novalidate>


        <div *ngIf="validMessage !=''">
            <h3 class="info">{{validMessage}}</h3>
        </div>

        <!-- <div class="form-group">
            <label>Picture</label>

            <input type="file" (change)="onFileSelected($event)" class="form-control" formControlName="picture" required
                autofocus />
            <button type="button" (click)="onUpload()">Upload</button>
        </div> -->
        <div class="form-group">
            <label>Brand</label>
            <input type="text" class="form-control" formControlName="brand" required autofocus />
        </div>
        <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" formControlName="model" required autofocus />
        </div>
        <div class="form-group">
            <label>Year of Production</label>
            <input type="text" class="form-control" formControlName="yearOfProduction" required autofocus />
        </div>
        <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" formControlName="color" required autofocus />
        </div>
        <div class="form-group">
            <label>Mileage</label>
            <input type="text" class="form-control" formControlName="mileage" required autofocus />
        </div>
        <div class="form-group">
            <label>Amount - Eur</label>
            <input type="text" class="form-control" formControlName="amount" required autofocus />
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" formControlName="status" required autofocus />
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>
<div>
    <button type="button" class="btn btn-primary" routerLink="/cars">All cars</button>
</div>