@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './css/main.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    
    padding-top: 20px;
    padding-bottom: 20px;
    text-rendering: optimizeLegibility;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Courier New', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    /* background: linear-gradient(150deg,#D5E3F1 15%,#FFFBD9 70%,#FFDFCB 94%); */
    background: #e5fda1;
    
}